<a href="https://colab.research.google.com/github/Ashique01/Ashique01/blob/main/logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [214]:
import pandas as pd
import numpy as np
import math

In [150]:
DataPath = ('diabetes.csv')
data = pd.read_csv(DataPath)
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [151]:
data.sample(frac=1).reset_index()

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,387,8,105,100,36,0,43.3,0.239,45,1
1,377,1,87,60,37,75,37.2,0.509,22,0
2,269,2,146,0,0,0,27.5,0.240,28,1
3,565,2,95,54,14,88,26.1,0.748,22,0
4,556,1,97,70,40,0,38.1,0.218,30,0
...,...,...,...,...,...,...,...,...,...,...
763,650,1,91,54,25,100,25.2,0.234,23,0
764,92,7,81,78,40,48,46.7,0.261,42,0
765,168,4,110,66,0,0,31.9,0.471,29,0
766,305,2,120,76,37,105,39.7,0.215,29,0
767,646,1,167,74,17,144,23.4,0.447,33,1

In [215]:
features = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
X1 = data[features]
y = data.Outcome
# print(X1)
# print(y)

In [217]:
X1=(X1-X1.min(axis=0))/(np.ptp(X1,axis=0))

X1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000
...,...,...,...,...,...,...,...,...
763,0.588235,0.507538,0.622951,0.484848,0.212766,0.490313,0.039710,0.700000
764,0.117647,0.613065,0.573770,0.272727,0.000000,0.548435,0.111870,0.100000
765,0.294118,0.608040,0.590164,0.232323,0.132388,0.390462,0.071307,0.150000
766,0.058824,0.633166,0.491803,0.000000,0.000000,0.448584,0.115713,0.433333
767,0.058824,0.467337,0.573770,0.313131,0.000000,0.453055,0.101196,0.033333

In [218]:
X1.insert(0,'1s',1)
X1

,1s,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333
1,1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667
2,1,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333
3,1,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000
4,1,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000
...,...,...,...,...,...,...,...,...,...
763,1,0.588235,0.507538,0.622951,0.484848,0.212766,0.490313,0.039710,0.700000
764,1,0.117647,0.613065,0.573770,0.272727,0.000000,0.548435,0.111870,0.100000
765,1,0.294118,0.608040,0.590164,0.232323,0.132388,0.390462,0.071307,0.150000
766,1,0.058824,0.633166,0.491803,0.000000,0.000000,0.448584,0.115713,0.433333
767,1,0.058824,0.467337,0.573770,0.313131,0.000000,0.453055,0.101196,0.033333

In [155]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (X1,y,test_size = 0.20, random_state = 0)

In [222]:
lr=0.01
loss_list=[]
total_loss=0.0
theta_old=np.random.rand(9,1)
theta_new=None
theta_old

array([[0.95208108],
       [0.38802076],
       [0.15254931],
       [0.81753646],
       [0.08113959],
       [0.00479331],
       [0.87180603],
       [0.87398559],
       [0.67348236]])

In [231]:
def stable_sigmoid(x):
    sig = np.where(x < 0, np.exp(x) / (1 + np.exp(x)), 1 / (1 + np.exp(-x)))
    return sig
for e in range(100):
  Z=np.matmul(x_train,theta_old)
  h=stable_sigmoid(Z)
  j_vect=(-y_train*(np.log2(h[e])))-((1-y_train)*np.log2(1-h[e]))
  j=np.mean(j_vect)
  total_loss+=j
  loss_list.append(total_loss)
  grad=np.matmul(x_train.T,(h[e]-y_train))
  theta_new=theta_old-(lr*grad)
  theta_old=theta_new
  # print(theta_new)

In [233]:
from sklearn import metrics
def stable_sigmoid(x):
    sig = np.where(x < 0, np.exp(x) / (1 + np.exp(x)), 1 / (1 + np.exp(-x)))
    return sig
for e in range(100):
  Z=np.matmul(x_test,theta_old)
  h=stable_sigmoid(Z)
  h[h>=0.5]=1
  h[h<0.5]=0
  y_test_predicted=h
print("Accuracy : ", metrics.accuracy_score(y_test, y_test_predicted))

Accuracy :  0.7207792207792207